<div class="container">
  <h2>Lista de Juegos</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let game of (games$ | async)">
      <div class="card">
        <img [src]="game.imagen" class="card-img-top" alt="Imagen del juego">
        <div class="card-body">
          <h5 class="card-title">{{ game.nombre }}</h5>
          <p class="card-text">{{ game.descripcion }}</p>
          <p class="card-text">Precio: {{ game.precio | currency }}</p>
          <p class="card-text">Tipo: {{ game.tipo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
