<form []="gameForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID:</label>
    <input id="id" formControlName="id" />
  </div>
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" />
  </div>
  <div>
    <label for="precio">Precio:</label>
    <input id="precio" formControlName="precio" />
  </div>
  <div>
    <label for="tipo">Tipo:</label>
    <input id="tipo" formControlName="tipo" />
  </div>
  <div>
    <label for="descripcion">Descripción:</label>
    <input id="descripcion" formControlName="descripcion" />
  </div>
  <div>
    <label for="imagen">Imagen:</label>
    <input id="imagen" formControlName="imagen" />
  </div>
  <button type="submit">Agregar Juego</button>
</form>
